@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
.contenedor-destacadosHoy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #100e1d;
}
.titulo {
  color: #e7e7eb;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.card-WindStatus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 328px;
  height: 204px;
  background: #1e213a;
  color: #e7e7eb;
}
.card-WindStatus p:first-child {
  font-size: 16px;
  font-weight: 500;
  font-family: Raleway;
}
.mph {
  display: flex;
}
.mph p:first-child {
  font-family: Raleway;
  font-size: 64px;
}
.mph p:last-child {
  color: #e7e7eb;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
  display: flex;
  align-items: end;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: Raleway;
}
.imagen-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #616475;
  border-radius: 50px;
  width: 20.304px;
  height: 20.304px;
}
.imagen-navigation > img {
  width: 12.183px;
  height: 12.183px;
  transform: rotate(-150deg);
}
/* Estilos a la card humidity  */
.humidity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 328px;
  height: 204px;
  background: #1e213a;
  color: #e7e7eb;
  font-family: Raleway;
}
.porhumedad {
  display: flex;
  align-items: end;
}
.porhumedad p:first-child {
  font-size: 64px;
  font-weight: 700;
}
.porhumedad p:last-child {
  font-family: Raleway;
  font-size: 36px;

  font-weight: 400;
}
.rangoPorciento {
  display: flex;
  gap: 90px;
}
.barra {
  width: 229px;
  height: 8px;
  border-radius: 80px;
  background: #e7e7eb;
}
/* Estilos a la card visibility  */
.visibility {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 328px;
  height: 159px;
  background: #1e213a;
  color: #e7e7eb;
  font-family: Raleway;
}
.miles {
  display: flex;
  align-items: end;
  gap: 12px;
}
.miles p:first-child {
  font-family: Raleway;
  font-size: 64px;
  font-weight: 700;
}
.miles p:last-child {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
}
/* Estilos a la card Air Presure  */
.air-Presure {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 328px;
  height: 160px;
  background: #1e213a;
  color: #e7e7eb;
  font-family: Raleway;
}
.air-Presure p:first-child {
  font-family: Raleway;
  font-size: 16px;

  font-weight: 500;
}
.mb {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 12px;
}
.mb p:first-child {
  font-family: Raleway;
  font-size: 64px;
  font-weight: 700;
}
.mb p:last-child {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 500;
}

@media screen and (min-width: 1280px) {
  .titulo {
    text-align:left;
    padding-left: 90px;
   
  }
  .contenedor-destacadosHoy {
    width: 100vh;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;
  }

  #card2 {
    order: 3;
  }
  #card4 {
    order: 4;
  }
}
