@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contenedorPrin {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 375px;
  height: 672px;

  gap: 38px;
}
.imgClose {
  display: flex;
  justify-content: end;
  width: 340px;
  padding-top: 12px;
}
.SearchLocation {
  display: flex;
  justify-content: space-evenly;
  width: 375px;
}
.SearchLocation input {
  width: 230px;
  height: 48px;
  background: #1e213a;
  color: white;
  border: 1px solid;
}
.SearchLocation button {
  width: 86px;
  height: 48px;
  border: none;
  background: #3c47e9;
  color: white;
}
.option {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  gap: 60px;
  padding-left: 12px;
  width: 375px;
  height: 100vh;
}
.option button {
  height: 50px;
  background: #1e213a;
  border: none;
  color: white;
  text-align: left;
}
.option button:hover {
  border: 1px solid #616475;
}
.contenedorPrincipal {
  background: #1e213a;
  height: 100vh;
  width: 375px;
  
  flex-shrink: 0;
}
#Search {
  height: 100vh;
  
  /* margin-top: 20px; */
  background-color: #1e213a;
  display: none;
}
#Search.active {
  position: absolute;
  display: flex;
}
.Milocation {
  display: flex;
  justify-content: space-between;
  padding: 13px 15px;
  width: 375px;
}
.Milocation button {
  width: 161px;
  height: 40px;
  background: #6e707a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

.fondo-Nubes {
  background: url("/public/Cloud-background.png"),
    lightgray 50% / cover no-repeat;
  background-color: #1e213a;
  display: flex;
  justify-content: center;
 
}
/* .fondo-Nubes div:last-child > img {
  width: 300px;
  height: 300px;
  
} */
.contenedor-Informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.gradosCentigrados {
  display: flex;
  align-items: end;
}
.gradosCentigrados p:first-child {
  display: flex;
  justify-content: center;
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;
  font-size: 144px;
  font-weight: 500;
}
.gradosCentigrados p:last-child {
  color: #a09fb1;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 500;
}
.contenedor-Informacion h2 {
  color: #a09fb1;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contenedor-Fecha {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  height: 40px;
}
.location img {
  width: 24px;
  height: 24px;
}
