@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* agregando estilos a la parte del buscador con sus opciones */
.contenedorPrin {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 500px;
  height: 672px;
  padding-top: 30px;
  gap: 38px;
}
.imgClose {
  display: flex;
  justify-content: end;
  width: 340px;
  padding-top: 12px;
}
.SearchLocation {
  display: flex;
  justify-content: space-evenly;
  width: 375px;
}
.SearchLocationLupa > img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
}
.SearchLocation input {
  width: 230px;
  height: 48px;
  background: #1e213a;
  color: white;
  border: 1px solid;
  padding: 20px;
  text-align: center;
}
.SearchLocation button {
  width: 86px;
  height: 48px;
  border: none;
  background: #3c47e9;
  color: white;
}
.SearchLocation input::placeholder {
  padding-left: 49px;
  color: #616475;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.option {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  gap: 60px;
  padding-left: 22px;
  width: 380px;
  height: 100vh;
}
.mi-boton {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  text-align: end;
  padding: 20px;
  height: 50px;
  background: #1e213a;
  border: none;
  text-align: left;
  color: #e7e7eb;
  font-size: 16px;
  width: 340px;
  height: 64px;
}
.mi-boton > span {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  width: 100vh;
}

.mi-boton:hover {
  border: 1px solid #616475;
}

#Search {
  height: 100vh;
  background-color: #1e213a;
  display: none;
}
#Search.active {
  position: absolute;
  display: flex;
}
/* agregando estilos al contenedor principal */
.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background: #1e213a;
  height: 100vh;
  width: 500px;

  flex-shrink: 0;
}
.Milocation {
  display: flex;
  justify-content: space-between;
  padding: 13px 15px;
  width: 375px;
}
.Milocation button {
  width: 161px;
  height: 40px;
  background: #6e707a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

/* dando estilos a las nubes del Nav */
.container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageFront {
  position: absolute;
  z-index: -1;
}
.imageFront .active {
  display: flex;
  z-index: 0;
}

.contenedor-Informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.gradosCentigrados {
  display: flex;
  align-items: end;
}
.gradosCentigrados p:first-child {
  display: flex;
  justify-content: center;
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;
  font-size: 144px;
  font-weight: 500;
}
.gradosCentigrados p:last-child {
  color: #a09fb1;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 500;
}
.contenedor-Informacion h2 {
  color: #a09fb1;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contenedor-Fecha {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #88869d;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  height: 40px;
}
.location img {
  width: 24px;
  height: 24px;
}
@media (min-width: 2560px) {
  .Milocation {
    width: 500px;
    text-align: center;
    justify-content: center;
    gap: 10rem;
  }
  .contenedorPrincipal {
    display: flex;
    padding-top: 60px;
    gap: 60px;
    width: 500px;
  }
  .contenedor-Informacion {
    gap: 50px;
  }
  .Milocation {
    padding-top: 42px;
  }
  #Search {
    width: 500px;
    justify-content: center;
    padding-top: 20px;
  }
  .SearchLocation {
    gap: 1rem;
  }
  .SearchLocation input {
    width: 250px;
  }
  .contenedor-Fecha {
    font-size: 30px;
  }
  .location {
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .contenedorPrincipal {
    display: flex;
    gap: 60px;
  }
  .contenedor-Informacion {
    gap: 50px;
  }
  .Milocation {
    padding-top: 42px;
  }
}
@media (min-width: 768px) {
  .contenedorPrincipal {
    text-align: center;
    align-items: center;
  }
}
