@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contenedorPrincipal {
  background: #1e213a;
  height: 100vh;
}
#Search {
  height: 100vh;
  width: 100vh;
  margin-top: 80px;
  background-color: #1e213a;
  display: none;
}
#Search.active {
  position: absolute;
  display: flex;
}
.Milocation {
  display: flex;
  justify-content: space-between;
  padding: 13px 11px;
}
.Milocation button {
  width: 161px;
  height: 40px;
  background: #6e707a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
}
.fondo-Nubes {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
}
.fondo-Nubes > img {
}
.contenedor-Informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.contenedor-Informacion  h1 {
  display: flex;
  justify-content: center;
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 500;
}
.contenedor-Informacion  h2 {
  color: #a09fb1;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contenedor-Fecha {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  height: 40px;
}
.location img {
  width: 24px;
  height: 24px;

}
