.contenedorPrin {
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.SearchLocation {
  display: flex;
  justify-content: space-between;
  width: 300px;
 padding-left: 12px;
}
.SearchLocation input {
  width: 200px;
  height: 35px;
  background: #1e213a;
  color: white;
  border: 1px solid;
}
.SearchLocation button {
  width: 86px;
  height: 35px;
  border: none;
  background: #3c47e9;
   color: white;
}
.option {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 12px;
}
.option button {
    height: 50px;
    background: #1e213a;
   border: none;
    color: white;
    text-align: left;
   
}
.option button:hover {
     border: 1px solid #616475;
}