.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #100E1D;
    padding-top: 50px;
    height: 100vh;
    gap: 26px ;
}
@media screen and (min-width: 1280px) {
    .cont {
       height: 100vh;
       width: 100vh;
    }
    .contenedor-responsive-principal {
        display: flex;
    }
   .feet {
    align-items: end;
   }
   .destacados {
    
   }
}